body {
    background-color: #2c3e50;
}
h1 {
  text-align: center;
}
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.btn{
    background: none;
    border: 2px solid orangered;
    font-size: 20px;
    font-family: 'montserrat' sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    cursor: pointer;
    transition: color 0.8s linear;
    position: relative;
    margin: 10px;
    color: #ccc;
}
.btn:hover{
    color: #2c3e50;
}
.btn::before{
    content: " ";
    width: 100%;
    height: 0%;
    background: #000;
    z-index: -1;
    left: 0;
    right: 0;
    transition: 0.8s;
}
.btn1::before{
    top: 0%;
    border-radius: 0 0 50% 50%;
}
.container{
    text-align: center;
    margin-top: 360px;
  }
  .btn{
    border: 1px solid orangered;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: orangered;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  