*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s cubic-bezier(0,1.57,.67,1.18);
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #2c3e50;
}
.box{
   flex: 1 1 300px;
   background: fff;
   border: 1px solid rgba(0, 0, 0, 1);
   position: relative   ;
   overflow: hidden;
   margin: 20px;
}
.box .image{
    padding: 10px;
    background: rgb(75, 75, 75);
    text-align: center;
}
.box .image img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba (0, 0, 0,7 ));  
}
.box .info .title{
    padding:  10px;
    color: #666;
    font-size: 20px;
}
.box .info .subinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, .3);
}
.box .info .subinfo .price{
    color: #ff3300;
    font-size: 20px;
}
.box .info .subinfo .price span{
    font-size: 15px;
    color: rgb(151, 151, 151);
    text-decoration: line-through;
}
.box .info .subinfo .stars i{
    color: orangered;
    font-size: 17px;
}
.box .overlay{
    position: absolute;
    top: 0; left: 0;
    height: 223px;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}
.btn{
    background: none;
    border: 2px solid orangered;
    font-size: 20px;
    font-family: 'montserrat' sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    cursor: pointer;
    transition: color 0.8s linear;
    position: relative;
    margin: 10px;
    color: orangered;
}
.btn:hover{
    color: #2c3e50;
}
.btn::before{
    content: " ";
    width: 100%;
    height: 0%;
    background: #000;
    z-index: -1;
    left: 0;
    right: 0;
    transition: 0.8s;
}
.btn1::before{
    top: 0%;
    border-radius: 0 0 50% 50%;
}